/*-------------
  common uses 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}



/*-------------------
 header style sheet 
------------------- */
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .header-texts{

} */
.header-text{
    font-size: 64px;
    color:#FFFFFF;
    width: 500px;
    margin: 0px;
}
.watch-now-btn{
    background-color:#E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    margin-top: 27px;
}
.watch-now-btn a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 17px;
}
.header-image img{
    width: 556px;
    height: 438px;
    margin: 67px;
}

.hover-effect:hover{
    top: 20px;
    text-shadow: 5px 5px 10px #FFFFFF;
    color: #2D25A0;
}
.watch-now-btn:hover{
    box-shadow: 0 0 10px 5px #FFFFFF ;
    background-color: #2D25A0 ;
}



 /*------------------------
  main section style sheet 
 ------------------------- */

main{
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
}
.player{
    width: 330px;
    /* height: 474px; */
    padding:15px;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}


/*--------------------
 footer style sheet 
---------------------- */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-container{
    width: 483px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 69px;
}
.footer-logo{
    margin-bottom:20px;

}
.footer-logo img{
    width: 100%;
}

.footer-icon{
    margin-bottom:20px;
}
.fab{
    margin-left: 15px ;
    border-radius: 50px;

}



/*----------------------------
 Media Queries
------------------------------ */

/* mobile devices */
@media only screen and (max-width:480px) {
    header{
        flex-direction: column;
    }
    .header-container{
        flex-direction: column;
    }
    .header-text{
        width: 400px;
    }
    .header-image{
        width: 470px;
        margin-right: 0px;
    }
    .header-image img{
        width: 400px;
        margin-right: 0px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);

    }
    .player{
        width: 200px;
    }
}

/* Ipad or Tablets device */

@media only screen and (min-width:481px) and (max-width:768px)  {
       
        header{
            flex-direction: column;
        }
        .header-container{
            flex-direction: column;
        }
        .header-image{
            width: 500px;
            margin-right: 0px;
        }
        .header-image img{
            width: 450px;
            margin-right: 0px;

        }
        .players{
            grid-template-columns: repeat(2,1fr);
        }
        .player{
            width: 200px;
        }
        
}




