/*-------------
  common uses 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;


}
.player{
    width: 330px;
    /* height: 474px; */
    padding:15px;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player img{
    width: 100%;

}


/*--------------------
 footer style sheet 
---------------------- */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-container{
    width: 483px;
    height: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 69px;
}
.footer-logo{
    margin-bottom:20px;

}
.footer-logo img{
    width: 100%;
}

.footer-icon{
    margin-bottom:20px;
}
.fab{
    margin-left: 15px ;
    border-radius: 50px;

}
/*----------------------------
 Responsive design in style sheet 
------------------------------ */

@media only screen and (max-width:688px) {
    .players{
        width: 100%;
    }
    .player{
        grid-template-columns: repeat(1,1fr);
    }
    
}