/*-------------
  common uses 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;


}
.player{
    width: 330px;
    /* height: 474px; */
    padding:15px;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player img{
    width: 100%;

}